
/* Make the text look nice and responsive on every view dimension */
.about-text {
    padding: 10%;
    height: 100%;  
    position: absolute;
    background: #1c1c1c;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
}
/* Mobile responsive */
@media only screen and (min-width: 280px) and (max-width:540px) {
    .about-text {
        font-size: 15px;
        line-height: 20px;
    }
}