
/* Make the text look nice and responsive on every view dimension */
.about-text {
    padding: 10%;
    height: 100%;  
    position: absolute;
    background-image: linear-gradient( -360deg,  rgb(60, 62, 65) 7.8%, rgb(1, 30, 63) 100.3% );
    color: #fff;
    font-size: 20px;
    line-height: 35px;
}
/* Mobile responsive */
@media only screen and (min-width: 280px) and (max-width:540px) {
    .about-text {
        font-size: 15px;
        line-height: 20px;
    }
}