body {
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    background-image: url("../../assets/images/backgroundimage.jpg");
    background-size: 100% 100vh;
    min-height: 100vh;
}