.fancyNav {
background-color: rgb(0, 0, 0);
display: flex;
z-index: 9;
}
div.container-fluid {
    margin-top: 1px;
}

.brandLogo {      
    max-width: 50px;    
} 

.logoImage.img-thumbnail{
    border-radius: 20px;
    background-color: rgb(32, 37, 33);
    box-shadow: -5px 5px 10px rgba(236, 246, 236, 0.72);
}

.tabs {
    box-shadow: -5px 5px 10px rgba(236, 246, 236, 0.72);
    border-radius: 10px;
}

@media only screen and (max-width: 375px) {
p {
    font-size: 15px;
}
}