.fancyNav {
background-color: black;
}

.brandLogo {   
    max-width: 70px;
    
} 

.logoImage.img-thumbnail{
    border-radius: 20px;
    padding: 1px;
    background-color: rgb(32, 37, 33);
    box-shadow: -5px 5px 10px rgba(236, 246, 236, 0.72);
}

.tabs {
    box-shadow: -5px 5px 10px rgba(236, 246, 236, 0.72);
    border-radius: 10px;
}

/* h2.about-text {
    border-color: black;
} */