.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    
    background-color: black;
}

.social-media-icons-white a {
    color: rgba(255, 255, 255, 0.292);
    font-size: 1.5rem;
    margin: 10px;
}

.social-media-icons-white a:hover {
    color: rgba(255, 255, 255, 0.565);
}

