body {
   min-height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

div.text-center.card {
   top: 20%;
   left: 10%;
   width: 80%;
   border: 3px solid #ffffff29;
   background-color: #f7f7f7;
   box-shadow: 0px 20px 15px rgba(206, 187, 187, 0.226);
}

div.hero-image {
   /* position: inherit; */
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(  -360deg,  rgb(20, 23, 25) 7.8%, rgb(0, 4, 9) 100.3%  );
}

/* this is the cube dimentions */
.cube {
   position: absolute;
   width: 50px;
   height: 50px;
   transform: rotate(-25deg) skew(25deg);   
}

.cube::before {
   position: absolute;
   content: "";
   width: 20px;
   height: 50px;
   transform: skewY(-45deg);
   left: -20px;
   bottom: -10px;
}

.cube::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 20px;
   transform: skewX(-45deg);
   left: -10px;
   bottom: -20px;
}

/* This is the image for the cubes */
/* Mongo */
#mongo {
   margin-left: 20%;
   margin-top: 2%;
   background-image: url("../../assets/logos/dark/M-alone-TKdesign-512x\ \(3\).png");
   background-size: cover;
   box-shadow: -40px 40px 10px rgba(187, 206, 206, 0.226);
}

#mongo::before {
   background-color: rgba(66, 67, 66, 0.374);
}

#mongo::after {
   background-color: rgba(165, 182, 161, 0.368);
}

/* Express */
#express {
   margin-left: 40%;
   margin-top: 2%;
   background-image: url("../../assets/logos/dark/E-alone-TKdesign-512x\ \(2\).png");
   background-size: cover;
   box-shadow: -40px 40px 10px rgba(187, 206, 206, 0.226);
}

#express::before {
   background-color: rgba(66, 67, 66, 0.374);
}

#express::after {
   background-color: rgba(165, 182, 161, 0.368);
}

/* React */
#react {
   margin-left: 60%;
   margin-top: 2%;
   background-image: url("../../assets/logos/dark/R-alone-TKdesign-512x\ \(2\).png");
   background-size: cover;
   box-shadow: -40px 40px 10px rgba(187, 206, 206, 0.226);
}

#react::before {
   background-color: rgba(66, 67, 66, 0.374);
}

#react::after {
   background-color: rgba(165, 182, 161, 0.368);
}

/* Nodejs */
#nodejs {
   margin-left: 80%;
   margin-top: 2%;
   background-image: url("../../assets/logos/dark/N-alone-TKdesign-512x\ \(2\).png");
   background-size: cover;
   box-shadow: -40px 40px 10px rgba(187, 206, 206, 0.226);
}

#nodejs::before {
   background-color: rgba(66, 67, 66, 0.374);
}

#nodejs::after {
   background-color: rgba(179, 179, 179, 0.368);
}

div.card-header{
   background-color: rgb(166, 166, 166);
}

div.text-muted.card-footer{
   background-color: rgb(200, 200, 200);
}
div.card-title.h5{
   margin:0px 0px 0px
}
div.card-body{
   padding: 10px;

}

@media only screen and (max-width : 420px) {
   #mongo {
      margin-left: 15%;
   }
   #express {
      margin-left: 35%;
   }
   #react {
      margin-left: 55%;
   }
   #nodejs {
      margin-left: 75%;
   }
}

@media only screen and (max-width: 375px) {
   div.text-center{
      font-size: 13px;
   }
   div.tex-center.card{
      top: 15%;
   }
   div.card-body{
      padding: 5px;
   
   }
}
@media only screen and (max-width: 280px) {
div.card-title.h5{
   font-size: 15px;
}
}