.carousel-area {
    background-color: rgb(128, 155, 155);
    text-align: center;
    display: block;  
    height: 100vh;
    width: 100%;
}

.carousel-slide {
   padding-bottom: 50%;
    width: 100%;
    height: 100%;
    background-color: rgb(49, 49, 246);
}

.carousel-inner {   
    padding: 10px;
}

/* swiper css */
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
